<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <nav>

    <label for="drop" class="toggle">Menu</label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/cars">Cars</a></li>
      <li><a href="/users">Users</a></li>
      <li><a href="/trips">Trips</a></li>
      {{#if user}}
      <li><a href="/users/{{user._id}}">Profile</a></li>
      {{else}}
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      {{/if}}
    </ul>
  </nav>

  <div class="content">

    {{{body}}}

  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzm6wO-fMPB7-afq0yzoT8jNiboqGaIm0"></script>
  <script src="/javascripts/trips.js"></script>
  <script src="/javascripts/script.js"></script>
  <script src="/javascripts/maps.js"></script>
</body>

</html>