<h3 id="userName" data-id="{{ user.id}}">{{user.name}}</h3>
<p>Date of birth: {{user.dateBirth}}</p>
<p>Date of obtaining driver license: {{user.yearsExperience}}</p>
<a href="/cars/new">Add a new car</a>
<a href="/auth/logout">Logout</a>