<div class="info">
    <h3>List of all trips</h3>
    <br>
    <table id="tripsTable">
        <tr>
            <th>CAR</th>
            <th>USER</th>
            <th>START TIME</th>
            <th>FINISH TIME</th>
        </tr>
        {{#each trips}}
        <tr>
            <td>{{this.car}}</td>
            <td>{{this.user}}</td>
            <td>{{this.created_at}}</td>
            <td>{{this.updated_at}}</td>
        </tr>
        {{/each }}

    </table>