<div class="info">
    <h3>List of all trips</h3>
    <br>
    <table id="tripsTable">
        <tr>
            <th>CAR</th>
            <th>USER</th>
            <th>START TIME</th>
            <th>FINISH TIME</th>
        </tr>
        {{#each trips}}
        <tr>
            <td>{{this.car.carMake}}</td>
            <td>{{this.user.name}}</td>
            <td>{{moment date=this.created_at format="MMMM Do YYYY, h:mm:ss a"}}</td>
            <td>{{moment date=this.updated_at format="MMMM Do YYYY, h:mm:ss a"}}</td>
        </tr>
        {{/each }}

    </table>