<div class="info">
    <h3>List of all cars</h3>
    <a href="/cars/new">Create new car</a>
    <br>
    <br>
        {{#each cars}}
            <a href="/cars/{{this._id}}">{{this.carMake}}</a>

            <a href="/cars/{{this._id}}/delete">Delete</a>
            <br>
        {{/each }}

    <div id="map"></div>
</div>